html,body{height: 100%;}
.tc{
  text-align: center;
}
.block{
  display: block;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.box-b{
  box-sizing: border-box;
}
.fz18{
  font-size: 18px;
}
.fz16{
  font-size: 16px;
}
.l-spac{
  letter-spacing: 3px;
}
.pos-abs{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}