.main-content{
    height: 100%;
}
.main-inner{
    position: relative;
    height: 100%;
    
    .sidebar-left .navbar{
        position: absolute;
        left:0px;
        top:0px;
        width: 300px;
        height: 100%;
        // min-height: 500px;
        font-size: 16px;
        margin-bottom: 0;
        background-color: #222d32;
    }
    .nav-title{
        margin:10px 0;
        color:#fff;
    }
    .panel-title{
        a{
            display: block;
            text-decoration: none;
        }
    }
    /*****导航列表****/ 
    .nav-list{
        margin:10px 0;
        text-align: center;
    }
}
.content-right{
    width:100%;
    height: 100%;
    padding-left: 300px;
    background-color: #f1f1f1;
    overflow: scroll;
    header{
        height: 80px;
        background-color: #34495e;
        color:#fff;
        .btn-group{
            height: 100%;
            .dropdown-menu{
                li{
                    height: 50px;
                    line-height: 50px;
                    font-size: 16px;
                    padding-left: 20px;
                    color:#333;
                    cursor: pointer;
                }
                li:hover{
                    color:#55acee;
                }
            }
        }
        .my-set{
            width: 150px;
            height: 100%;
            padding-right: 50px;
            line-height: 80px;
            text-align: right;
        }
    }
    /* 公司管理 */
    section{
        width: 80%;
        margin:0 auto;
        margin-top: 30px;
        max-width: 960px;
        position: relative;
        .panel-heading{
            line-height: 30px;
        }
        .on{
            display: none;
        }
        /* 重新定位模态框 */
        .modal{
            position: absolute;
        }
        .list-company{
            li{
                span{
                    width:85px;
                    text-align: right;
                    display: inline-block;
                }
            }
            .minipro-list{
                min-width: 80px;
                height: 70px;
                background-color: #ccc;
                margin:0 5px;
                border-radius: 3px;
                i{
                    font-size: 30px;
                    display: block;
                    text-align: center;
                }
                .i-selected{
                    color: green;
                }
            }
            #bind-minipro{
                margin-left: 50px;
                margin-top: 20px;
            }
        }
        .form-company{
            .form-group{
                position: relative;
                em{
                    position: absolute;
                    right:-20px;
                    top:5px;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }
        .employee{
            display: none;
            .search-employee{
                margin-right: 20px;
            }
        }
        .order{
            #order-week{
                td{
                    height: 160px;
                    .am,.pm{
                        display: inline-block;
                        border-radius: 15px;
                        height: 65px;
                        line-height: 30px;
                        text-align: center;
                        width: 100%;
                        background-color: #66d9ef;
                        cursor: pointer;
                        position: relative;
                        p{
                            position: absolute;
                            left:0px;
                            top:0px;
                            width: 100%;
                            height: 100%;
                            line-height: 75px;
                            font-weight: 700;
                            font-size: 16px;
                        }
                    }
                    .pm{
                        margin-top: 10px;
                        background-color: #f4e925;
                    }
                }
            }
        }
    }
}
